<h1><%= @poll.name %></h1>

<ul>
  <% @poll.receivers.each do |receiver| %>
    <li><%= receiver.name %> <%= receiver.capacity%> <%= link_to "edit", edit_receiver_path(receiver) %>
      <%= link_to "delete",
            receiver_path(receiver),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </li>
  <% end %>
</ul>

<%= simple_form_for [ @poll, @receiver ] do |f| %>
  <%= f.input :name %>
  <%= f.input :capacity %>
  <%= f.submit "Create receiver", class: "btn btn-primary" %>
<% end %>